<!-- Main container -->
<div class="container">
  <!-- Row for image -->
  <div class="row">
      <div class="col col-md-12">
          <!-- Image for the login page -->
          <img class="img" src="https://www.voetbalshop.be/media/bestanden/2023/Q2/vbs/cat-header/20230530-catheader-PUMA-ACMilan-HOME.jpg" alt="" width="100%" height="100%">
      </div>
  </div>

  <!-- Row for login and create account forms -->
  <div class="row">

      <!-- Column for login form -->
      <div class="col col-md-6 flex">
          <h2>Login</h2>
          <hr>

          <form [formGroup]="loginForm">
            <!-- Email input -->
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <!-- Password input -->
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <!-- Login button -->
            <button type="button" (click)="login()" class="btn btn-danger mt-3">Login</button>
          </form>

          <!-- Create Account link -->
          <a routerLink="/register" class="btn btn-link mt-3">Create Account</a>

          <!-- Forgot password link -->
          <a routerLink="/forgotpassword" class="btn btn-link mt-3">Forgot password?</a>
      </div>

  </div>
</div>
