<div class="container">
	<div class="row">
    <div class="col col-md-12">
    <img class="img" src="https://www.voetbalshop.be/media/bestanden/2023/Q2/vbs/cat-header/20230530-catheader-PUMA-ACMilan-HOME.jpg" alt="" width="100%" height="100%">
    </div>
    
  </div>
  <div class="row">
		<div class="col col-md-6">
      <h2>Login</h2>
      <hr>
      
        <div class="form-group" [formGroup]="loginObj.loginForm" >
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="username" [ngModel]="loginObj.username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          
        </div>
        <div class="form-group" [formGroup]="loginObj.loginForm">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" [ngModel]="loginObj.password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
        </div>
    
        <button type="button" (click)="onLogin()" class="btn btn-danger mt-3">Login</button> 
        <a href="" class="btn btn-link mt-3">Forgot password?</a>
      
    </div>
		<div class="col col-md-6">
      <h2>Create Account</h2>
      <hr>
      <form>
        <div class="form-group">
          <label for="fname">First name</label>
          <input type="text" class="form-control" id="fname" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="lname">Last name</label>
          <input type="text" class="form-control" id="lname" placeholder="Last name">
        </div>
        <div class="form-group">
          <label for="email2">Email address</label>
          <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="pwd2">Password</label>
          <input type="password" class="form-control" id="pwd2" placeholder="Password">
        </div>
        
        <button type="button" class="btn btn-danger mt-3">Create Account</button>
      </form>
    </div>
	</div>
  
</div>