body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(244, 55, 55);
}

/* General Style */
.container {
    max-width: 700px;
    margin: 30px auto;
    overflow: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #b73128;
}


.img{
    padding-bottom: 40px;
}

.btn-link{
    text-decoration: none;
}



/* Form Responsive */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
