<!-- Main container -->
<div class="container">
  <!-- Row for reset password form -->
  <div class="row">
      <div class="col col-md-6 offset-md-3">
          <h2>Reset Password</h2>
          <hr>
          <div class="form">
              <!-- New Password input -->
              <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="account.newPassword" id="newPassword" placeholder="New Password">
              </div>

              <!-- Confirm New Password input -->
              <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="account.confirmPassword" id="confirmPassword" placeholder="Confirm New Password">
              </div>

              <!-- Submit New Password button -->
              <button type="button" (click)="changePassword()" class="btn btn-danger mt-3">Change Password</button>
          </div>
      </div>
  </div>
</div>
