<!-- Main container -->
<div class="container">
  <!-- Row for image -->
  <div class="row">
      <div class="col col-md-12">
          <!-- Image for the login page -->
          <img class="img" src="https://www.voetbalshop.be/media/bestanden/2023/Q2/vbs/cat-header/20230530-catheader-PUMA-ACMilan-HOME.jpg" alt="" width="100%" height="100%">
      </div>
  </div>

  <!-- Row for login and create account forms -->
  <div class="row">

      <!-- Column for forgot password form -->
      <div class="col col-md-6">
          <h2>Forgot Password</h2>
          <hr>
          <div class="form">
              <!-- Email input -->
              <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="account.email" id="email3" aria-describedby="emailHelp" placeholder="Enter your email">
              </div>

              <!-- Reset Password button -->
              <button type="button" (click)="resetPassword()" class="btn btn-danger mt-3">Reset Password</button>
          </div>
      </div>
  </div>
</div>
