<div class="card mb-3" style="max-width: 1340px">
  <div class="row g-0">
    <div class="col-md-8">
      <app-carousel></app-carousel>
    </div>

    <div class="col-md-4 custom-bg">
      <div class="card-body text-white">
        <h1 class="card-title font-weight-bold">Kits of the teams</h1>
        <p class="card-text mt-5">
          You can buy kits of your favorite team in Europe and in European Championship 2024. 
        </p>
        <p class="card-text">
          <button type="button" class="btn btn-dark mt-3" (click)="buyNow()">Buy now</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="/assets/images/3.jpg"
        class="card-img-top"
        alt="Italy"
      />
      <div class="card-body">
        <h5 class="card-title">Italy</h5>
        <p class="card-text">
          This is a wid er card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img 
        src="/assets/images/Belgium1.jpg"
        class="card-img-top"
        alt="Turkey"
      />
      <div class="card-body">
        <h5 class="card-title">Belgium</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="/assets/images/Eng.jpg"
        class="card-img-top"
        alt="BorussiaDortmund"
      />
      <div class="card-body">
        <h5 class="card-title">England</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
  </div>
</div>
