<div class="card mb-3" style="max-width: 1340px">
  <div class="row g-0">
    <div class="col-md-8">
      <app-carousel></app-carousel>
    </div>

    <div class="col-md-4 bg-danger">
      <div class="card-body text-white">
        <h1 class="card-title font-weight-bold">Kits of the teams</h1>
        <p class="card-text mt-5">
          You can buy kits of your favorite team in Europe and in European Championship 2024. 
        </p>
        <p class="card-text">
          <button class="text-body-secondary mt-5">Buy now</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt2303dd7bedd2df4a/6478513e6cc1416ef8189d6d/AC_Milan_2023-24_kit_collection.png?auto=webp&format=pjpg&width=3840&quality=60"
        class="card-img-top"
        alt="Milan"
      />
      <div class="card-body">
        <h5 class="card-title">Milan's Kits</h5>
        <p class="card-text">
          This is a wid er card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://i.internethaber.com/files/2018/3/20/1856614/1856614-bpinE1.jpg"
        class="card-img-top"
        alt="Turkey"
      />
      <div class="card-body">
        <h5 class="card-title">Turkey's Kits</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://www.soccerbible.com/media/114075/bvb-9-min.jpg"
        class="card-img-top"
        alt="BorussiaDortmund"
      />
      <div class="card-body">
        <h5 class="card-title">Borussia Dortmund Kits</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
  </div>
</div>
